{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'estilos.css' %}">


{% block content %}
<section class="banner">
    <div class="content-banner">
        <p>Productos Tipicos del Huila</p>
        <h2>100% Artesanal <br />Descubre el encanto de lo Artesanal </h2>
    </div>
</section>

<main class="main-content">
    <section class="container container-features">
        <div class="card-feature">
            <i class="fa-brands fa-avianex"></i>
            <div class="feature-content">
                <span>Envío gratuito a nivel nacional</span>
                <p>En pedido superior a $300.000</p>
            </div>
        </div>
        <div class="card-feature">
            <i class="fa-solid fa-wallet"></i>
            <div class="feature-content">
                <span>Contrareembolso</span>
                <p>100% garantía de devolución de dinero</p>
            </div>
        </div>
        <div class="card-feature">
            <i class="fa-solid fa-gift"></i>
            <div class="feature-content">
                <span>Ofertas especiales</span>
                <p>Ofrece ofertas por comprar productos</p>
            </div>
        </div>
        <div class="card-feature">
            <i class="fa-solid fa-headset"></i>
            <div class="feature-content">
                <span>Servicio al cliente 12 horas al dia</span>
                <p>LLámenos 3204500034</p>
            </div>
        </div>
    </section>
    <section class="container top-categories" id="servicios">
        <h1 class="heading-1">Mejores Categorias</h1>
        <div class="container-categories">
            <div class="card-category category-moca">
                <span class="titulo-item">Roscas</span>
                
            </div>
            <div class="card-category category-expreso">
                <span class="titulo-item">Bizcochos</span>
                
            </div>
            <div class="card-category category-capuchino">
                <span class="titulo-item">Galletas</span>
            
                
            </div>
        </div>
    </section>

    <section class="container-top-products">
        <h1 class="heading-1">Nuestros Productos</h1>

        <div class="container-options">
            <span class="active">Galeria de fotos</span>
            
        </div>
        {% load humanize %}
        <section class="contenedor" id="Galeria">
            <div class="contenedor-items">
                {% for producto in productos %}
                    <div class="item">
                        <span class="titulo-item">{{ producto.nombre }}</span>
                        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img-item">
                        <span class="precio-item">${{ producto.precio|floatformat:0|intcomma }}</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                {% empty %}
                    <p>No hay productos disponibles en este momento.</p>
                {% endfor %}
            </div>
        
            <!-- Carrito de Compras -->
            <div class="carrito" id="carrito">
                <div class="header-carrito">
                    <h2>Tu Carrito</h2>
                </div>
        
                <div class="carrito-items">
                    
                </div>
        
                <div class="carrito-total">
                    <div class="fila">
                        <strong>Tu Total</strong>
                        <span class="carrito-precio-total">
                            $120.000,00
                        </span>
                    </div>
                    <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
                </div>
            </div>
        </section>
        
            
    <section class="container blogs" id="Quienes">
        <h1 class="heading-1">¿Quienes somos?</h1>

        <div class="container-blogs">
            <div class="card-blog">
                <div class="container-img">
                    
                    <div class="button-group-blog">
                        <span>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-link"></i>
                        </span>
                    </div>
                </div>
                
                <div class="content-blog">
                    <h3>Misión</h3>
                    <p>
                        "Nuestra misión es deleitar a nuestros clientes con una variedad de biscochería y galletas artesanales, frescas y de alta calidad, mientras proporcionamos un servicio excepcional y una experiencia única en cada interacción. Nos comprometemos a utilizar solo ingredientes naturales y frescos, y a apoyar a los productores locales y sostenibles."
                    </p>
                    
                </div>
            </div>
            <div class="card-blog">
                <div class="container-img">
                    
                    <div class="button-group-blog">
                        <span>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-link"></i>
                        </span>
                    </div>
                </div>
                <div class="content-blog">
                    <h3>Visión</h3>
                    
                    <p>
                        "Ser la biscochería y galletaría más reconocida y querida en la región, conocida por nuestra pasión por la calidad, la innovación y la satisfacción del cliente. Queremos ser el destino preferido para aquellos que buscan un regalo especial, un postre delicioso o simplemente un momento de alegría y satisfacción."
                    </p>
                
                </div>
            </div>
            <div class="card-blog">
                <div class="container-img">
                    
                    <div class="button-group-blog">
                        <span>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-link"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Mapanoti -->

<div class="mapanoti" id="ubi">
    <iframe src="https://www.google.com/maps/embed?pb=!4v1739285373774!6m8!1m7!1sO_Qbs_iO9PM15UiKdcoh5Q!2m2!1d2.195362359648235!2d-75.62832856170553!3f321.4959725531632!4f-20.644126725283144!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<h1>Ubícanos con  <br> ayuda del mapa</h1>
</div>

<!-- Video corto -->
<section class="master">
    <h1>Conoce en dónde  <br> nos puedes ubicar</h1>
    <div>
        <video controls autoplay muted  poster="">
            <source src="/static/video/1.mp4">
        </video>
    </div>
</section>

<script src="{% static 'js/app.js' %}"></script>

{% endblock %}

