{% extends "base.html" %}
{% load static %}
{% load humanize %}


{% block content %}
<link rel="stylesheet" href="{% static 'estilos.css' %}">

    <section class="banner" id="inicio">
    <div class="content-banner">
        <p>Productos Típicos del Huila</p>
        <h2>100% Artesanal <br />Descubre el encanto de lo Artesanal</h2>
    </div>
</section>

<main class="main-content">
    <section class="container container-features">
        <div class="card-feature">
            <i class="fa-brands fa-avianex"></i>
            <div class="feature-content">
                <span>Envío gratuito a nivel nacional</span>
                <p>En pedido superior a $300.000</p>
            </div>
        </div>
        <div class="card-feature">
            <i class="fa-solid fa-wallet"></i>
            <div class="feature-content">
                <span>Contraentrega</span>
                <p>100% garantía de devolución de dinero</p>
            </div>
        </div>
        <div class="card-feature">
            <i class="fa-solid fa-gift"></i>
            <div class="feature-content">
                <span>Ofertas especiales</span>
                <p>Descuentos por compras grandes</p>
            </div>
        </div>
        <div class="card-feature">
            <i class="fa-solid fa-headset"></i>
            <div class="feature-content">
                <span>Atención al cliente</span>
                <p>Llámanos al 3204500034</p>
            </div>
        </div>
    </section>

        <section class="container top-categories" id="Servicio">
        <h1 class="heading-1">Mejores Categorías</h1>
        <div class="container-categories">
            <div class="card-category category-moca">
                <span class="titulo-item">Roscas</span>
            </div>
            <div class="card-category category-expreso">
                <span class="titulo-item">Bizcochos</span>
            </div>
            <div class="card-category category-capuchino">
                <span class="titulo-item">Galletas</span>
            </div>
        </div>
    </section>

    <section class="container-top-products">
        <h1 class="heading-1">Nuestros Productos</h1>
        <div class="container-options">
            <span class="active">Galería de fotos</span>
        </div>
        
        {% load humanize %}

<section class="contenedor" id="Galeria">
    <div class="contenedor-items">
        {% for producto in productos %}
            <div class="item">
                <span class="titulo-item">{{ producto.nombre }}</span>
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img-item">
                <span class="precio-item">${{ producto.precio|floatformat:0|intcomma }}</span>
                <button class="boton-item agregar-carrito">Agregar al Carrito</button>
            </div>
        {% empty %}
            <p>No hay productos disponibles en este momento.</p>
        {% endfor %}
    </div>
   <!-- Carrito de Compras -->
   <div class="carrito">
    <div class="header-carrito">
        <h2>Tu Carrito</h2>
    </div>
    <div class="carrito-items"></div>
    <div class="carrito-total">
        <div class="fila">
            <strong>Tu Total</strong>
            <span class="carrito-precio-total">$0</span>
        </div>
        <button class="btn-pagar" id="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i></button>
    </div>
</div>

<!-- Modal de pago -->
<div id="modal-pago" class="modal">
    <div class="modal-contenido">
        <span class="cerrar">&times;</span>
       

        <!-- Formulario de pago -->
        <div id="formulario-pago">
            {% csrf_token %}
            <h2>Información de Pago</h2>
            <form id="pago-form">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>

                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" required>

                <label for="celular">Celular:</label>
                <input type="tel" id="celular" name="celular" required>

                <label for="municipio">Municipio:</label>
                <input type="text" id="municipio" name="municipio" required>

                <label for="residencia">Dirección:</label>
                <input type="text" id="residencia" name="residencia" required>

                <label for="email">Correo Electrónico:</label>
                <input type="text" id="email" name="email" required>

        </div>

        <!-- Productos en el carrito -->
        <div id="productos-pago">
            <h3>Productos en el carrito:</h3>
        </div>

        <!-- Métodos de pago -->
       
        <div class="opciones-pago">
        <h2>Selecciona un método de pago</h2>
        <button id="nequi">Nequi</button>
        <button id="daviplata">Daviplata</button>
    </div>

        <!-- Código QR y número de teléfono -->
        <div id="qr-container" style="display: none;">
            <h3>Escanea el código QR para pagar</h3>
            <img id="qr-imagen" src="" alt="Código QR">
            <p id="qr-texto" style="display: none;"></p>
            <div id="total-pago">
                <h3>Total: <span id="monto-total">$0</span></h3>
            </div>
            <button id="confirmarPago">Confirmar Pago</button>

        </form>

        </div>
    </div>
</div>
</section>

<!-- Sección Quiénes Somos -->
<section class="about-us" id="Quienes">
    <h1 class="about-us-title">¿Quiénes Somos?</h1>
    <div class="about-us-cards">
        <div class="about-us-card">
            <div class="card-icon">
                <i class="fa-solid fa-bullseye"></i>
            </div>
            <div class="card-content">
                <h2>Misión</h2>
                <p>Nuestra misión es deleitar a nuestros clientes con biscochería y galletas artesanales de alta calidad, utilizando ingredientes naturales y apoyando a productores locales.</p>
            </div>
        </div>
        <div class="about-us-card">
            <div class="card-icon">
                <i class="fa-solid fa-eye"></i>
            </div>
            <div class="card-content">
                <h2>Visión</h2>
                <p>Ser la biscochería más reconocida en la región por calidad, innovación y satisfacción del cliente.</p>
            </div>
        </div>
    </div>
</section>


<!-- Mapa de Ubicación -->
<div class="mapanoti" id="ubi">
    <iframe src="https://www.google.com/maps/embed?pb=!4v1739285373774!6m8!1m7!1sO_Qbs_iO9PM15UiKdcoh5Q!2m2!1d2.195362359648235!2d-75.62832856170553!3f321.4959725531632!4f-20.644126725283144!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h1>Ubícanos con ayuda del mapa</h1>
</div>

<!-- Video -->
<section class="master">
    <h1>Conoce en dónde nos puedes ubicar</h1>
    <div>
        <video controls autoplay muted>
            <source src="{% static 'video/1.mp4' %}" type="video/mp4">
        </video>
    </div>
</section>

<script src="{% static 'js/app.js' %}"></script>
{% endblock %}

